@font-face {
	font-family: font1;
	src: url(./Caveat.ttf);
}

@font-face {
	font-family: font2;
	src: url(./CaveatBold.ttf);
}

@font-face {
	font-family: font3;
	src: url(./ChelseaMarket.ttf);
}

@font-face {
	font-family: font4;
	src: url(./PatrickHand.ttf);
}

@font-face {
	font-family: font5;
	src: url(./Rancho.ttf);
}

@font-face {
	font-family: font6;
	src: url(./AlegreyaSans.ttf);
}

@font-face {
	font-family: font7;
	src: url(./Chicle.ttf);
}

@font-face {
	font-family: font8;
	src: url(./MontserratSubrayada.ttf);
}

@font-face {
	font-family: font9;
	src: url(./PatuaOne.ttf);
}

@font-face {
	font-family: font10;
	src: url(./Righteous.ttf);
}

